@model IEnumerable<ControleEstoque.Models.Produto>

<p>
    <a class="btn btn-success" asp-action="Create">Novo Produto</a>
</p>
<table class="table">
    <thead>
        <tr>
        <tr>
            <th class="tr1th0">
                Editar
            </th>
            <th class="tr1th0">
                Detalhes
            </th>
            <th class="tr1th1">
                Código
            </th>
            <th class="tr1th2">
                Nome
            </th>
            <th class="tr1th3">
                Estoque
            </th>
            <th class="tr1th4">
                Status
            </th>
            <th class="tr1th5">
                Favorito
            </th>
            <th class="tr1th6">
                Última Modificação
            </th>
            <th class="tr1th7">
                Excluir
            </th>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ImagemUrl)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProdutoId">Edit</a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ProdutoId">Details</a> |
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProdutoId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estoque)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProdutoId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsProdutoPreferido)
                </td>
                <td>
                    @ViewData["Data"]
                </td>
                <td>
                    <a src="~/images/remove.png" width="10px" height="10px" asp-controller="Produto" asp-action="Delete" asp-route-id="@item.ProdutoId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
