@model IEnumerable<ControleEstoque.Models.Categoria>

<h1>Categorias</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var item in Model) {

        <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">@item.CategoriaNome</h5>
        <br>
        <p class="card-text">@item.Descricao</p>
            <a asp-action="Edit" asp-route-id="@item.CategoriaId">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.CategoriaId">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.CategoriaId">Delete</a>
      </div>
    </div>
}
    
