@model IEnumerable<ControleEstoque.Models.Lote>

@{
    ViewData["Title"] = "Index";
}

<h1>Lotes</h1>

<p>
    <a class="btn " asp-action="Create">Novo lote</a>
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Referencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fornecedor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Referencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fornecedor.Nome)
                </td>
                <td class="btn-group btn-group-sm">
                    <a class="btn " asp-action="Edit" asp-route-id="@item.LoteId">Editar</a>
                    <a class="btn " asp-action="Details" asp-route-id="@item.LoteId">Detalhes</a>
                    <a class="btn " asp-action="Delete" asp-route-id="@item.LoteId">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
