@model IEnumerable<ControleEstoque.Models.Lote>

@{
    ViewData["Title"] = "Index";
}

<h1>Lotes</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Criar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Referencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fornecedor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Referencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fornecedor.Cep)
            </td>
            <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.LoteId">Editar</a> |
                    <a class="btn btn-success" asp-action="Details" asp-route-id="@item.LoteId">Detalhes</a> |
                    <a class="btn btn-success"asp-action="Delete" asp-route-id="@item.LoteId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
