@model IEnumerable<ControleEstoque.Models.Fornecedor>

@{
    ViewData["Title"] = "Index";
}

<h1>Fornecedores</h1>

<p>
    <a class="btn " asp-action="Create">Novo fornecedor</a>
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RazaoSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cnpj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoDetalhada)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RazaoSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cnpj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoDetalhada)
            </td>
            <td class="btn-group btn-group-sm">
                <a class="btn " asp-action="Edit" asp-route-id="@item.FornecedorId">Editar</a>
                <a class="btn " asp-action="Details" asp-route-id="@item.FornecedorId">Detalhes</a>
                <a class="btn " asp-action="Delete" asp-route-id="@item.FornecedorId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
